/* banner-part-start */
.first-part
{
    display: flex;
    height: 550px;
    margin: 10px 30px;
    border-radius: 20px;
    background-color: black;
    padding: 10px 30px;
}
.banner-text
{
    color: white;
    padding: 10px 10px 10px 12px;
}
.banner-text h1
{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}
.banner-text a
{
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
}
.banner-text i
{
    padding-left: 15px;
    padding-top: 5px;
}
.banner-image img
{
    height: 550px;
    /* padding-left: 50px; */
}
/* banner-part-end */

/* main-section-start */

/* side-button-start */
.side-button
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    border-radius: 10px;
    background-color: black;
    padding: 20px 20px;
    width: 200px;
    height: 250px;
}
.side-button a
{
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}
.three-button
{
    font-weight: 700;
    text-align: center;
}
#blog
{
    background-color: teal;
    color: white;
}
/* side-button-end  */

/* grid-design-start */
.button-p-info
{
    display: flex;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}
.grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}
.player-blog
{
    padding: 10px 10px;
    background-color: #efe9dee3;
    width: 310px;
    border-radius: 10px;
    margin: 5px;
}
.transfer
{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 15px;
    background-color: whitesmoke;
    color: black;
}
.player-info
{
    width: 310px;
    padding-left: 10px;
}
.player-info p
{
    font-weight: 700;
}
/* grid-design-end */


/* footer-design-start */
footer
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 100px;
    margin-top: 50px;
}
hr
{
    color: rgba(161, 160, 158, 0.806);
    width: 1000px;
}
.footerbar a
{
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}
/* footer-design-end */

/* second-page-design-start */
#upcoming-match
{
    background-color: teal;
    color: white;
}
.match-details
{
    background-color: rgba(242, 238, 238, 0.93);
    height: 220px;
    width: 325px;
    border-radius: 10px;
    margin: 5px;
}
.flag
{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 20px 0px 20px;
    align-items: center;
}
.match-time
{
    padding-left: 10px;
    text-align: center;
}
/* second-page-design-end */